openapi: 3.0.2
info:
  title: fincode API
  description: "fincodeのAPIリファレンスです。\\\nfincodeは決済情報のほか様々なリソースを管理できるため、リソース指向なREST APIをベースとしたインターフェイス設計のもとでAPIを提供しています。\\\nAPIの呼び出しにはAPIキーによる認証が必要であり、リクエストの際に`Authorization`ヘッダーに有効なAPIキーをセットすることで認証できます。\n"
  version: 1.1.0-beta
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.fincode.jp
  description: 本番環境
- url: https://api.test.fincode.jp
  description: テスト環境
tags:
- name: Customer
  description: "顧客を管理するAPIです。fincodeにおける顧客は多くのアプリケーションにおいて購入者となるユーザーアカウントに1:1で紐づけられます。\\\n顧客には名前やメールアドレス、請求先住所を登録し管理でき、決済やカード情報・決済手段などのリソースが関連付けられます。\n"
- name: Card
  description: "顧客が持つカードを管理するAPIです。\\\nカードにはクレジットカード/デビッドカード/プリペイドカードの有効期限や名義などの情報が含まれており、決済の実行時にカードのIDを指定することでそのカードに対して請求（決済）を行います。\\\n\\\n※ カード登録時に3Dセキュア認証を行う場合は、[決済手段 登録API](#tag/PaymentMethod/operation/createCustomerPaymentMethod)を使用します。\n"
- name: PaymentMethod
  description: "顧客が持つ決済手段（*Payment Method*）を管理するAPIです。\\\n決済実行の際に決済手段のIDを指定することで、その決済手段に対し請求（決済）をします。\\\n\\\n決済手段オブジェクトは`pay_type`パラメータの値によって下記の情報を表現します。\n\n- `Card`: この決済手段はカードを表します。`card`パラメータ内にカードに関する詳細な情報が含まれます。\n- `Directdebit`: この決済手段は口座振替における振替用口座を表します。`directdebit`パラメータ内に口座に関する詳細な情報が含まれます。\n\n※決済手段APIによるカード情報操作は「登録」のみ可能です。「取得・更新・削除」は引き続きカードAPIを使用してください。\\\n\\\n[更に詳しく解説したドキュメントをこちらから参照できます。](https://docs.fincode.jp/payment/payment_method)\n"
- name: Payment
  description: "決済を行うAPIです。\\\n決済 登録APIで決済情報をfincodeに登録し、決済 実行APIで実際に購入者（顧客）に対して請求を行います。\n"
- name: Secure2
  description: "3Dセキュア認証を行うAPIです。\\\n3Dセキュア認証はカード決済において不正利用を防止するために使用される本人認証の仕組みです。\\\n\\\n決済実行後、購入者が`acs_url`にアクセスすると、ブラウザ情報がfincodeへ送信され認証プロセスが開始します。認証のプロセスと実装のフローに関しては[Docs > 3Dセキュア2.0認証を使用する](https://docs.fincode.jp/payment/fraud_protection/3d_secure_2)から参照できます。\n"
- name: PaymentSession
  description: |
    リダイレクト型決済URLを作成するAPIです。
- name: CardRegistrationSession
  description: "リダイレクト型カード登録URLを作成するAPIです。\\\n顧客ID（`customer_id`）を指定して作成した場合、その顧客に対してカードを登録するためのカード登録URLを発行します。指定しなかった場合、顧客を新たに作成し、その顧客に対してカードを登録するためのカード登録URLを発行します。\n"
- name: Plan
  description: "サブスクリプションのプランを管理するAPIです。\\\nサブスクリプション請求の金額・間隔・頻度などのプラン情報を登録・更新・削除できます。\n"
- name: Subscription
  description: "サブスクリプションを管理するAPIです。\\\n指定した顧客に対して指定したプランで定期・定額で請求を行うサブスクリプションを登録・更新・削除できるほか、結果照会APIを用いてあるサブスクリプションによって発生した毎回の課金の結果を一覧で取得することもできます。\\\n\\\nサブスクリプション課金の処理は非同期で行われ、Webhookイベント`recurring.card.batch`（サブスクリプション課金（カード決済） 実行）や`recurring.directdebit.batch`（サブスクリプション課金（口座振替） 実行）で処理結果を受け取ることができます。\n"
- name: PaymentBulk
  description: "一括決済を行うAPIです。\\\n数千・数万件単位の決済を1回のリクエストで登録・予約することができ、従量課金のビジネスモデルの構築などに利用できます。\\\n\\\n一括決済の処理は非同期で行われ、Webhookイベント`payment.bulk.card.batch`（一括決済課金（カード決済） 実行）で処理結果を受け取ることができます。\n"
- name: Account
  description: "売上入金を取得できます。\\\nまた、ある売上入金の詳細情報を取得し、取引1件ごとの入金額への影響を確認することもできます。\n"
- name: PlatformAccount
  description: "プラットフォーム利用料による売上入金を取得できます。\\\nまた、ある売上入金のIDを指定して、テナントショップごとの入金のサマリー情報を一覧取得することもできます。\n"
- name: PlatformShop
  description: "プラットフォームショップ（メインショップ・サブショップ）の設定を管理するAPIです。\\\nテナントに対し適用するプラットフォーム利用料金の設定や、プラットフォームショップの一覧取得などができます。\n"
- name: TenantShop
  description: "テナントショップの設定を管理するAPIです。\\\nテナントに対し適用するプラットフォーム利用料金の設定や、テナントショップの一覧取得などができます。\n"
- name: LimitedTenantManagement
  description: "テナントショップの新規作成や審査情報の提出、販売免許等のアップロードなどを行えるAPIです。\\\n\\\n<span class=\"attension\">このAPIの利用について</span>\\\nこのAPIを本番環境で利用するためにはfincodeへの申請が必要です。利用を希望する場合は[問い合わせフォーム](https://dashboard.fincode.jp/contact/) からテナント申請管理APIを利用するサービスの概要をお知らせの上、機能開放をリクエストしてください。（テスト環境では常時利用できます。）\n"
- name: WebhookSetting
  description: "Webhook設定を管理するAPIです。\\\nfincode上で指定したイベントが発生した場合、指定したエンドポイントでリアルタイムで通知を受け取れます。\\\n\\\n※テナントのイベントを受けとるためにはテナントごとにWebhook設定を登録する必要があります。\n"
- name: Webhook
  description: "イベントが発生したときに、fincode側から加盟店様が設定したエンドポイントURLへWebhookのリクエストを送信するときの仕様です。\\\n[イベント一覧はこちら]()\\\n※通知対象のパラメータは、機能追加等に伴い追加される可能性があります。\\\n※予告なくパラメータ名の変更、削除が行われることはありません。\\\n\\\nWebhookを利用する場合は、正常受信または受信失敗のレスポンスをWebhookのリクエストに対して返却する必要があります。\\\nWebhookのリクエストがエラーで失敗した場合は、リトライ仕様に従って再送します。\n"
externalDocs:
  description: fincodeJSの仕様はこちらの JSリファレンス から確認できます。
  url: /js
paths:
  /v1/customers:
    post:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: createCustomer
      tags:
      - Customer
      summary: 顧客 登録
      parameters:
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\n指定したテナントショップに紐づく形で顧客情報を登録します。\n"
      description: |
        顧客情報を登録します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer.Creating.Request"
        required: true
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer.Creating.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"name\": \"John Doe\",\n    \"email\": \"john@example.com\"\n}' \\\n'https://api.test.fincode.jp/v1/customers'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    try {\n        // リクエストの送信\n        const customer = await fincode.customers.create({\n            name: \"John Doe\",\n            email: \"john@example.com\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"bytes\"\n\\t\"encoding/json\"\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tbody := CreatingCustomerRequest{\n\\t\\tEmail:   stringPointer(\"john@example.com\"),\n\\t\\tName:    stringPointer(\"John Doe\"),\n\\t\\tPhoneCC: stringPointer(\"81\"),\n\\t\\tPhoneNo: stringPointer(\"1234567890\"),\n\\t}\n\n\\tmarshalledBody, _ := json.Marshal(body)\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\"POST\", \"https://api.test.fincode.jp/v1/customers\", bytes.NewBuffer(marshalledBody))\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n\ntype CreatingCustomerRequest struct {\n\\tID           *string `json:\"id,omitempty\"`\n\\tName         *string `json:\"name,omitempty\"`\n\\tEmail        *string `json:\"email,omitempty\"`\n\\tPhoneCC      *string `json:\"phone_cc,omitempty\"`\n\\tPhoneNo      *string `json:\"phone_no,omitempty\"`\n\\tAddrCity     *string `json:\"addr_city,omitempty\"`\n\\tAddrCountry  *string `json:\"addr_country,omitempty\"`\n\\tAddrLine1    *string `json:\"addr_line_1,omitempty\"`\n\\tAddrLine2    *string `json:\"addr_line_2,omitempty\"`\n\\tAddrLine3    *string `json:\"addr_line_3,omitempty\"`\n\\tAddrPostCode *string `json:\"addr_post_code,omitempty\"`\n\\tAddrState    *string `json:\"addr_state,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\\treturn &s\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"name\" => \"John Doe\",\n    \"email\" => \"john@example.com\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_POST, true);\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/customers'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"name\": \"John Doe\",\n    \"email\": \"john@example.com\"\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.post(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    endpoint = \"/v1/customers\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        name: \"John Doe\",\n        email: \"john@example.com\",\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    get:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: retrieveCustomerList
      tags:
      - Customer
      summary: 顧客 一覧取得
      description: |
        顧客情報を一覧で取得します。クエリパラメータを指定して取得する条件を絞り込めます。
      parameters:
      - in: query
        name: Query
        description: |
          顧客情報の一覧取得において検索条件となるクエリパラメータ
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/Pagination.QueryParams"
          - $ref: "#/components/schemas/Customer.ListRetrieving.QueryParams"
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客から一覧で取得します。\n"
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer.ListRetrieving.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    try {\n        // リクエストの送信\n        const customers = await fincode.customers.retrieveList({\n            limit: 10,\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\"GET\", \"https://api.test.fincode.jp/v1/customers\", nil)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\tparams := req.URL.Query()\n\\tparams.Add(\"limit\", \"10\")\n\\treq.URL.RawQuery = params.Encode()\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers\";\n$queryParams = [\n    \"limit\" => 10,\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . '?' . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/customers'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\nquery_params = { 'limit': 10 }\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    endpoint = \"/v1/customers\"\n    query_params =  { limit: 10 }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/customers/{id}:
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: retrieveCustomer
      tags:
      - Customer
      summary: 顧客 取得
      description: |
        IDで指定した顧客情報を取得します。
      parameters:
      - name: id
        in: path
        description: 顧客ID
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        required: true
      - name: Tenant-Shop-Id
        in: header
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客情報を取得します。\n"
        required: false
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer.Retrieving.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const customer = await fincode.customers.retrieve(customerId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"GET\",\n\\t\\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\\t\\tnil,\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    put:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: updateCustomer
      tags:
      - Customer
      summary: 顧客 更新
      description: |
        IDで指定した顧客情報を更新します。
      parameters:
      - name: id
        in: path
        description: 顧客ID
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客情報を更新します。\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer.Updating.Request"
        required: true
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer.Updating.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X PUT \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"name\": \"Jane Doe\",\n    \"email\": \"jane@example.com\"\n}' \\\n'https://api.test.fincode.jp/v1/customers/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const customer = await fincode.customers.update(customerId, {\n            name: \"Jane Doe\",\n            email: \"jane@example.com\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"bytes\"\n\\t\"encoding/json\"\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\\tbody := UpdatingCustomerRequest{\n\\t\\tName:  stringPointer(\"Jane Doe\"),\n\\t\\tEmail: stringPointer(\"jane@example.com\"),\n\\t}\n\n\\tmarshalledBody, _ := json.Marshal(body)\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"PUT\",\n\\t\\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\\t\\tbytes.NewBuffer(marshalledBody),\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n\ntype UpdatingCustomerRequest struct {\n\\tName         *string `json:\"name,omitempty\"`\n\\tEmail        *string `json:\"email,omitempty\"`\n\\tPhoneCC      *string `json:\"phone_cc,omitempty\"`\n\\tPhoneNo      *string `json:\"phone_no,omitempty\"`\n\\tAddrCity     *string `json:\"addr_city,omitempty\"`\n\\tAddrCountry  *string `json:\"addr_country,omitempty\"`\n\\tAddrLine1    *string `json:\"addr_line_1,omitempty\"`\n\\tAddrLine2    *string `json:\"addr_line_2,omitempty\"`\n\\tAddrLine3    *string `json:\"addr_line_3,omitempty\"`\n\\tAddrPostCode *string `json:\"addr_post_code,omitempty\"`\n\\tAddrState    *string `json:\"addr_state,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\\treturn &s\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"name\" => \"Jane Doe\",\n    \"email\" => \"jane@example.com\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'PUT');\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"name\": \"Jane Doe\",\n    \"email\": \"jane@example.com\"\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.put(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        name: 'Jane Doe',\n        email: 'jane@example.com',\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Put.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    delete:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: deleteCustomer
      tags:
      - Customer
      summary: 顧客 削除
      description: |
        IDで指定した顧客情報を削除します。
      parameters:
      - name: id
        in: path
        description: 顧客ID
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        required: true
      - name: Tenant-Shop-Id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客情報を削除します。\n"
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer.Deleting.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X DELETE \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const result = await fincode.customers.delete(customerId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"DELETE\",\n\\t\\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s\", customerID),\n\\t\\tnil,\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.delete(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Delete.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/customers/{customer_id}/cards:
    post:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      tags:
      - Card
      operationId: createCustomerCard
      summary: カード 登録
      description: |
        `customer_id`で指定した顧客に対しカードを登録します。
      parameters:
      - name: customer_id
        in: path
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        description: このカードが紐づく顧客のID
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客に対してカードを登録します。\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerCard.Creating.Request"
        required: true
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCard.Creating.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"default_flag\": \"1\",\n    \"token\": \"<Token from fincodeJS>\"\n}' \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const card = await fincode.cards.create(customerId, {\n            token: \"<Token from fincodeJS>\",\n            default_flag: \"1\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"bytes\"\n\\t\"encoding/json\"\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\n\\tbody := CreatingCustomerCardRequest{\n\\t\\tToken:       \"<Token from fincodeJS>\",\n\\t\\tDefaultFlag: \"0\",\n\\t}\n\n\\tmarshalledBody, _ := json.Marshal(body)\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\"POST\", fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards\", customerID), bytes.NewBuffer(marshalledBody))\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n\ntype CreatingCustomerCardRequest struct {\n\\tDefaultFlag string `json:\"default_flag\"`\n\\tToken       string `json:\"token\"`\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"token\" => \"613531623566356561366261346366623132306663393139\",\n    \"default_flag\" => \"1\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_POST, true);\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"token\": \"<Token from fincodeJS>\",\n    \"default_flag\": \"1\",\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.post(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}/cards\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        token: '<Token from fincodeJS>',\n        default_flag: '1'\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      tags:
      - Card
      operationId: retrieveCustomerCardList
      summary: カード 一覧取得
      description: |
        `customer_id`で指定した顧客に対し紐づくカードを一覧で取得します。
      parameters:
      - name: customer_id
        in: path
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        description: "顧客ID。 \\\nこの顧客に紐づくカードを一覧で取得します。\n"
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客に対して登録されたカードの一覧を取得します。\n"
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCard.ListRetrieving.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n\n    try {\n        // リクエストの送信\n        const cards = await fincode.cards.retrieveList(customerId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\"GET\", fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards\", customerID), nil)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "from calendar import c\nimport requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}/cards\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/customers/{customer_id}/cards/{id}:
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      tags:
      - Card
      operationId: retrieveCustomerCard
      summary: カード 取得
      description: |
        `customer_id`で指定した顧客に対し紐づくカードのうち`id`で指定したものを取得します。
      parameters:
      - name: customer_id
        in: path
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        description: このカードが紐づく顧客のID
        required: true
      - name: id
        in: path
        schema:
          $ref: "#/components/schemas/CardId_schema"
        description: 取得するカードのID
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客に対して登録されたカードから取得します。\n"
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCard.Retrieving.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n    const cardId = \"<Card ID>\";\n\n    try {\n        // リクエストの送信\n        const card = await fincode.cards.retrieve(customerId, cardId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\\tcardID := \"<Card ID>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"GET\",\n\\t\\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards/%s\", customerId, cardID),\n\\t\\tnil,\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$cardId = '<Card ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards/{$cardId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\ncard_id = '<Card ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    card_id = '<Card ID>'\n    \n    endpoint = \"/v1/customers/#{customer_id}/cards/#{card_id}\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    put:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      tags:
      - Card
      operationId: updateCustomerCard
      summary: カード 更新
      description: |
        `customer_id`で指定した顧客に対し紐づくカードのうち`id`で指定したものを更新します。
      parameters:
      - name: customer_id
        in: path
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        description: このカードが紐づく顧客のID
        required: true
      - name: id
        in: path
        schema:
          $ref: "#/components/schemas/CardId_schema"
        description: 更新するカードのID
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客に対して登録されたカードの情報を更新します。\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerCard.Updating.Request"
        required: true
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCard.Updating.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X PUT \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"default_flag\": \"1\",\n}' \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n    const cardId = \"<Card ID>\";\n\n    try {\n        // リクエストの送信\n        const card = await fincode.cards.update(customerId, cardId, {\n            default_flag: \"0\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"bytes\"\n\\t\"encoding/json\"\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tbody := UpdatingCustomerCardRequest{\n\\t\\tDefaultFlag: stringPointer(\"1\"),\n\\t}\n\n\\tmarshalledBody, _ := json.Marshal(body)\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\"PUT\", \"https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}\", bytes.NewBuffer(marshalledBody))\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n\ntype UpdatingCustomerCardRequest struct {\n\\tDefaultFlag *string `json:\"default_flag,omitempty\"`\n\\tToken       *string `json:\"token,omitempty\"`\n\\tHolderName  *string `json:\"holder_name,omitempty\"`\n\\tExpire      *string `json:\"expire,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\\treturn &s\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$cardId = '<Card ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards/{$cardId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$data = json_encode([\n    \"default_flag\" => \"0\"\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'PUT');\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\ncard_id = '<Card ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"default_flag\": \"0\",\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.put(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    card_id = '<Card ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/cards/#{card_id}\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        default_flag: '0'\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Put.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    delete:
      tags:
      - Card
      operationId: deleteCustomerCard
      summary: カード 削除
      description: |
        `customer_id`で指定した顧客に対し紐づくカードのうち`id`で指定したものを削除します。
      parameters:
      - name: customer_id
        in: path
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        description: このカードが紐づく顧客のID
        required: true
      - name: id
        in: path
        schema:
          $ref: "#/components/schemas/CardId_schema"
        description: 削除するカードのID
        required: true
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客に対して登録されたカードを削除します。\n"
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCard.Deleting.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X DELETE \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{id}'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    const customerId = \"<Customer ID>\";\n    const cardId = \"<Card ID>\";\n\n    try {\n        // リクエストの送信\n        const result = await fincode.cards.delete(customerId, cardId);\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\\tcardID := \"<Card ID>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"DELETE\",\n\\t\\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/cards/%s\", customerId, cardID),\n\\t\\tnil,\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$cardId = '<Card ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/cards/{$cardId}\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\ncard_id = '<Card ID>' \n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/cards/{card_id}/'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.delete(url, headers=headers)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    card_id = '<Card ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/cards/#{card_id}\"\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Delete.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/customers/{customer_id}/payment_methods:
    post:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: createCustomerPaymentMethod
      tags:
      - PaymentMethod
      summary: 決済手段 登録
      description: |
        `customer_id`で指定した顧客に対し、決済手段を登録します。
      parameters:
      - name: customer_id
        in: path
        description: 顧客ID
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        required: true
      - name: Tenant-Shop-Id
        in: header
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客に対して決済手段を登録します。\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerPaymentMethod.Creating.Request"
        required: true
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerPaymentMethod.Creating.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"pay_type\": \"Directdebit\",\n    \"default_flag\": \"1\",\n    \"return_url\": \"https://your-service.example.com/return\",\n    \"directdebit\":  {\n        \"application_type\": \"ONLINE\",\n        \"bank_code\": \"0310\",\n        \"branch_code\": \"000\",\n        \"account_type\": \"1\",\n        \"account_number\": \"0999999\",\n        \"account_name_kana\": \"ナマエカナ\"\n    }\n}' \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"bytes\"\n\\t\"encoding/json\"\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\n\\tbody := CreatingPaymentMethodRequest{\n\\t\\tPayType:     \"Directdebit\",\n\\t\\tDefaultFlag: \"1\",\n\\t\\tReturnURL:   \"https://your-service.example.com/return\",\n\\t\\tDirectdebit: Directdebit{\n\\t\\t\\tApplicationType: \"ONLINE\",\n\\t\\t\\tBankCode:        \"0310\",\n\\t\\t\\tBranchCode:      stringPointer(\"000\"),\n\\t\\t\\tAccountType:     stringPointer(\"1\"),\n\\t\\t\\tAccountNumber:   stringPointer(\"0999999\"),\n\\t\\t\\tAccountNameKana: \"ナマエカナ\",\n\\t\\t},\n\\t}\n\n\\tmarshalledBody, _ := json.Marshal(body)\n\n\\turl := fmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods\", customerID)\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"POST\",\n\\t\\turl,\n\\t\\tbytes.NewBuffer(marshalledBody),\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n\ntype CreatingPaymentMethodRequest struct {\n\\tPayType     string      `json:\"pay_type\"`\n\\tDefaultFlag string      `json:\"default_flag\"`\n\\tDirectdebit Directdebit `json:\"directdebit\"`\n\\tReturnURL   string      `json:\"return_url\"`\n}\n\ntype Directdebit struct {\n\\tApplicationType  string            `json:\"application_type\"`\n\\tBankCode         string            `json:\"bank_code\"`\n\\tBranchCode       *string           `json:\"branch_code,omitempty\"`\n\\tAccountType      *string           `json:\"account_type,omitempty\"`\n\\tAccountNumber    *string           `json:\"account_number,omitempty\"`\n\\tAccountName      *string           `json:\"account_name,omitempty\"`\n\\tAccountNameKana  string            `json:\"account_name_kana\"`\n\\tPaperApplication *PaperApplication `json:\"paper_application,omitempty\"`\n}\n\ntype PaperApplication struct {\n\\tPostalAccountNumber1 *string `json:\"postal_account_number_1,omitempty\"`\n\\tPostalAccountNumber2 *string `json:\"postal_account_number_2,omitempty\"`\n\\tRequestFormId        string  `json:\"request_form_id\"`\n}\n\nfunc stringPointer(s string) *string {\n\\treturn &s\n}\n"
      - lang: node
        label: Node.js
        source: "import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods`;\n\n    const response = await fetch(endpoint, {\n        method: \"POST\",\n        headers: {\n            Authorization: `Bearer ${API_KEY}`,\n            \"Content-Type\": \"application/json\",\n        },\n        body: JSON.stringify({\n            pay_type: \"Directdebit\",\n            default_flag: \"1\",\n            return_url: \"https://your-service.example.com/return\",\n            directdebit: {\n                application_type: \"ONLINE\",\n                bank_code: \"0310\",\n                branch_code: \"000\",\n                account_type: \"1\",\n                account_number: \"0999999\",\n                account_name_kana: \"ナマエカナ\",\n            },\n        }),\n    });\n    const paymentMethods = await response.json();\n})();\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/payment_methods\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"pay_type\" => \"Directdebit\",\n    \"default_flag\" => \"1\",\n    \"return_url\" => \"https://your-service.example.com/return\",\n    \"directdebit\" => [\n        \"application_type\" => \"ONLINE\",\n        \"bank_code\" => \"0310\",\n        \"branch_code\" => \"000\",\n        \"account_type\" => \"1\",\n        \"account_number\" => \"0999999\",\n        \"account_name_kana\" => \"ナマエカナ\"\n    ]\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_POST, true);\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"pay_type\": \"Directdebit\",\n    \"default_flag\": \"1\",\n    \"return_url\": \"https://your-service.example.com/return\",\n    \"directdebit\": {\n        \"application_type\": \"ONLINE\",\n        \"bank_code\": \"0310\",\n        \"branch_code\": \"000\",\n        \"account_type\": \"1\",\n        \"account_number\": \"0999999\",\n        \"account_name_kana\": \"ナマエカナ\"\n    }\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.post(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    endpoint = \"/v1/customers/#{customer_id}/payment_methods\"\n    \n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        pay_type: \"Directdebit\",\n        default_flag: \"1\",\n        return_url: \"https://your-service.example.com/return\",\n        directdebit: {\n            application_type: \"ONLINE\",\n            bank_code: \"9999\",\n            branch_code: \"000\",\n            account_type: \"1\",\n            account_number: \"0999999\",\n            account_name_kana: \"ナマエカナ\"\n        }   \n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: retrieveCustomerPaymentMethodList
      tags:
      - PaymentMethod
      summary: 決済手段 一覧取得
      description: |
        `customer_id`で指定した顧客に対し紐づく決済手段を一覧で取得します。
      parameters:
      - name: customer_id
        in: path
        description: 顧客ID
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        required: true
      - name: Query
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/CustomerPaymentMethod.ListRetrieving.QueryParams"
        description: |
          決済手段の一覧取得において検索条件となるクエリパラメータ
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客に紐づく決済手段から一覧で取得します。\n"
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerPaymentMethod.ListRetrieving.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods?pay_type=Directdebit'\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"GET\",\n\\t\\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods\", customerID),\n\\t\\tnil,\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\tparams := req.URL.Query()\n\\tparams.Add(\"pay_type\", \"Directdebit\")\n\\treq.URL.RawQuery = params.Encode()\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n"
      - lang: node
        label: Node.js
        source: "import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods`;\n\n    const response = await fetch(endpoint, {\n        method: \"GET\",\n        headers: {\n            Authorization: `Bearer ${API_KEY}`,\n        },\n    });\n    const paymentMethods = await response.json();\n})();\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/payment_methods\";\n$queryParams = [\n    \"pay_type\" => \"Directdebit\",\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . \"?\" . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods'\nquery_params = {\n    'pay_type': 'Directdebit',\n}\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/payment_methods\"\n    query_params =  { \n        limit: 10,\n        pay_type: 'Directdebit',\n    }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/customers/{customer_id}/payment_methods/{id}:
    get:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: retrieveCustomerPaymentMethod
      tags:
      - PaymentMethod
      summary: 決済手段 取得
      description: |
        `customer_id`で指定した顧客に対し紐づく決済手段のうち、`id`で指定したものを取得します。
      parameters:
      - name: customer_id
        in: path
        description: 顧客ID
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        required: true
      - name: id
        in: path
        description: 決済手段ID
        schema:
          $ref: "#/components/schemas/PaymentMethodId_schema"
        required: true
      - name: Tenant-Shop-Id
        in: header
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客に紐づく決済手段からIDで指定した決済手段を取得します。\n"
      - name: Query
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/CustomerPaymentMethod.Retrieving.QueryParams"
        description: |
          決済手段の取得において検索条件となるクエリパラメータ
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerPaymentMethod.Retrieving.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods/{id}?pay_type=Directdebit'\n"
      - lang: node
        label: Node.js
        source: "import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n    const paymentMethodId = \"<Payment Method ID>\";\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods/${paymentMethodId}`;\n\n    const response = await fetch(endpoint, {\n        method: \"GET\",\n        headers: {\n            Authorization: `Bearer ${API_KEY}`,\n        },\n    });\n    const paymentMethod = await response.json();\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\\tpaymentMethodID := \"<Payment Method ID>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"GET\",\n\\t\\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods/%s\", customerID, paymentMethodID),\n\\t\\tnil,\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\tparams := req.URL.Query()\n\\tparams.Add(\"pay_type\", \"Directdebit\")\n\\treq.URL.RawQuery = params.Encode()\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$paymentMethodId = '<Payment Method ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/payment_methods/{$paymentMethodId}\";\n$queryParams = [\n    \"pay_type\" => \"Directdebit\",\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . '?' . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\npayment_method_id = '<Payment Method ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods/{payment_method_id}/'\nquery_params = {\n    'pay_type': 'Directdebit',\n}\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    payment_method_id = '<Payment Method ID>'\n\n    endpoint = \"/v1/customers/#{customer_id}/payment_methods/#{payment_method_id}\"\n    query_params =  {\n        limit: 10,\n        pay_type: 'Directdebit',\n    }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    delete:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: deleteCustomerPaymentMethod
      tags:
      - PaymentMethod
      summary: 決済手段 削除
      description: |
        `customer_id`で指定した顧客に対し紐づく決済手段のうち、`id`で指定したものを削除します。
      parameters:
      - name: customer_id
        in: path
        description: 顧客ID
        schema:
          $ref: "#/components/schemas/CustomerId_schema"
        required: true
      - name: id
        in: path
        description: 決済手段ID
        schema:
          $ref: "#/components/schemas/PaymentMethodId_schema"
        required: true
      - name: Tenant-Shop-Id
        in: header
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ 顧客情報を共有しないプラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく顧客のうち、指定したIDの顧客に紐づく決済手段からIDで指定した決済手段を削除します。\n"
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerPaymentMethod.Deleting.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X DELETE \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods/{id}?pay_type=Directdebit'\n"
      - lang: node
        label: Node.js
        source: "import fetch from \"node-fetch\";\n\nconst BASE_URL = \"https://api.test.fincode.jp\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const customerId = \"<Customer ID>\";\n    const paymentMethodId = \"<Payment Method ID>\";\n\n    const endpoint = `${BASE_URL}/v1/customers/${customerId}/payment_methods/${paymentMethodId}`;\n\n    const response = await fetch(endpoint, {\n        method: \"DELETE\",\n        headers: {\n            Authorization: `Bearer ${API_KEY}`,\n        },\n    });\n    const result = await response.json();\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tcustomerID := \"<Customer ID>\"\n\\tpaymentMethodID := \"<Payment Method ID>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"DELETE\",\n\\t\\tfmt.Sprintf(\"https://api.test.fincode.jp/v1/customers/%s/payment_methods/%s\", customerID, paymentMethodID),\n\\t\\tnil,\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\tparams := req.URL.Query()\n\\tparams.Add(\"pay_type\", \"Directdebit\")\n\\treq.URL.RawQuery = params.Encode()\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$customerId = '<Customer ID>';\n$paymentMethodId = '<Payment Method ID>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/customers/{$customerId}/payment_methods/{$paymentMethodId}\";\n$queryParams = [\n    \"pay_type\" => \"Directdebit\",\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . \"?\" . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\ncustomer_id = '<Customer ID>'\npayment_method_id = '<Payment Method ID>'\n\nurl = f'https://api.test.fincode.jp/v1/customers/{customer_id}/payment_methods/{payment_method_id}/'\nquery_params = {\n    'pay_type': 'Directdebit',\n}\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.delete(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    customer_id = '<Customer ID>'\n    payment_method_id = '<Payment Method ID>'\n    \n    endpoint = \"/v1/customers/#{customer_id}/payment_methods/#{payment_method_id}\"\n    query_params =  {\n        limit: 10,\n        pay_type: 'Directdebit',\n    }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Delete.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/payments:
    get:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: retrievePaymentList
      tags:
      - Payment
      summary: 決済 一覧取得
      description: |
        決済情報の一覧を取得します。
      parameters:
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ プラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\nこのテナントショップに紐づく決済から一覧で取得します。\n"
      - name: Query
        in: query
        required: true
        schema:
          oneOf:
          - allOf:
            - $ref: "#/components/schemas/Payment.ListRetrieving.QueryParams"
            - $ref: "#/components/schemas/Payment.ListRetrieving.Card.QueryParams"
            - $ref: "#/components/schemas/Pagination.QueryParams"
            title: カード決済
          - allOf:
            - $ref: "#/components/schemas/Payment.ListRetrieving.QueryParams"
            - $ref: "#/components/schemas/Payment.ListRetrieving.ApplePay.QueryParams"
            - $ref: "#/components/schemas/Pagination.QueryParams"
            title: Apple Pay
          - allOf:
            - $ref: "#/components/schemas/Payment.ListRetrieving.QueryParams"
            - $ref: "#/components/schemas/Payment.ListRetrieving.Konbini.QueryParams"
            - $ref: "#/components/schemas/Pagination.QueryParams"
            title: コンビニ決済
          - allOf:
            - $ref: "#/components/schemas/Payment.ListRetrieving.QueryParams"
            - $ref: "#/components/schemas/Payment.ListRetrieving.PayPay.QueryParams"
            - $ref: "#/components/schemas/Pagination.QueryParams"
            title: PayPay
          - allOf:
            - $ref: "#/components/schemas/Payment.ListRetrieving.QueryParams"
            - $ref: "#/components/schemas/Payment.ListRetrieving.DirectDebit.QueryParams"
            - $ref: "#/components/schemas/Pagination.QueryParams"
            title: 口座振替
        description: |
          決済の一覧取得において検索条件となるクエリパラメータ
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/Payment.Card.ListRetrieving.Response"
                - $ref: "#/components/schemas/Payment.ApplePay.ListRetrieving.Response"
                - $ref: "#/components/schemas/Payment.Konbini.ListRetrieving.Response"
                - $ref: "#/components/schemas/Payment.PayPay.ListRetrieving.Response"
                - $ref: "#/components/schemas/Payment.DirectDebit.ListRetrieving.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X GET \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n'https://api.test.fincode.jp/v1/payments?pay_type=Card'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    try {\n        // リクエストの送信\n        const payments = await fincode.payments.retrieveList({\n            pay_type: \"Card\",\n            limit: 10,\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\"GET\", \"https://api.test.fincode.jp/v1/payments\", nil)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\n\\tparams := req.URL.Query()\n\\tparams.Add(\"limit\", \"10\")\n\\tparams.Add(\"pay_type\", \"Card\")\n\\treq.URL.RawQuery = params.Encode()\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/payments\";\n$queryParams = [\n    \"pay_type\" => \"Card\",\n    \"limit\" => 10,\n];\n\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n];\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint . '?' . http_build_query($queryParams));\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_HTTPGET, true);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/payments'\nquery_params = {\n    'pay_type': 'Card',\n    'limit': 10,\n}\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n}\n\ntry:\n    response = requests.get(url, headers=headers, params=query_params)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # APIからのデータを処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    endpoint = \"/v1/payments\"\n    query_params =  {\n        limit: 10,\n        pay_type: 'Card',\n    }\n\n    uri = URI.parse(BASE_URL + endpoint)\n    uri.query = URI.encode_www_form(query_params)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    # リクエストの作成\n    request = Net::HTTP::Get.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
    post:
      security:
      - Secret-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: createPayment
      tags:
      - Payment
      summary: 決済 登録
      description: |
        決済情報をfincodeに登録します。決済登録に成功した時点ではまだ顧客に対して請求はされていません。
      parameters:
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ プラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\n指定したテナントショップを販売主として決済を登録します。テナントが`pay_type`で指定する決済手段契約の審査を完了させている必要があります。\n"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/Payment.Card.Creating.Request"
              - $ref: "#/components/schemas/Payment.ApplePay.Creating.Request"
              - $ref: "#/components/schemas/Payment.Konbini.Creating.Request"
              - $ref: "#/components/schemas/Payment.PayPay.Creating.Request"
              - $ref: "#/components/schemas/Payment.DirectDebit.Creating.Request"
        required: true
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/Payment.Card.Creating.Response"
                - $ref: "#/components/schemas/Payment.ApplePay.Creating.Response"
                - $ref: "#/components/schemas/Payment.Konbini.Creating.Response"
                - $ref: "#/components/schemas/Payment.PayPay.Creating.Response"
                - $ref: "#/components/schemas/Payment.DirectDebit.Creating.Response"
        "400":
          description: 不正なリクエスト
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FincodeAPIError.Response"
      x-code-samples:
      - lang: curl
        label: cURL
        source: "curl \\\n    -X POST \\\n    -H \"Authorization:Bearer <Secret API Key>\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n    \"pay_type\": \"Card\",\n    \"amount\": \"1000\",\n    \"job_code\": \"CAPTURE\",\n    \"tds_type\": \"2\"\n}' \\\n'https://api.test.fincode.jp/v1/payments'\n"
      - lang: node
        label: Node.js
        source: "import { createFincode } from \"@fincode/node\";\n\nconst API_KEY = \"<Secret API Key>\";\n\n(async () => {\n    const fincode = createFincode({ apiKey: API_KEY, isLiveMode: false });\n\n    try {\n        // リクエストの送信\n        const payment = await fincode.payments.create({\n            pay_type: \"Card\",\n            job_code: \"CAPTURE\",\n            amount: \"1000\",\n            tds_type: \"2\",\n            td_tenant_name: \"My Store\",\n        });\n    } catch (e) {\n        // エラーの処理\n    }\n})();\n"
      - lang: go
        label: Go
        source: "package main\n\nimport (\n\\t\"bytes\"\n\\t\"encoding/json\"\n\\t\"fmt\"\n\\t\"log\"\n\\t\"net/http\"\n)\n\nfunc main() {\n\n\\tapiKey := \"<Secret API Key>\"\n\n\\tbody := CreatingPaymentRequest{\n\\t\\tPayType: \"Card\",\n\\t\\tJobCode: \"CAPTURE\",\n\\t\\tAmount:  stringPointer(\"1000\"),\n\\t\\tTdsType: stringPointer(\"2\"),\n\\t}\n\n\\tmarshalledBody, _ := json.Marshal(body)\n\n\\t// リクエストの作成\n\\treq, _ := http.NewRequest(\n\\t\\t\"POST\",\n\\t\\t\"https://api.test.fincode.jp/v1/payments\",\n\\t\\tbytes.NewBuffer(marshalledBody),\n\\t)\n\\treq.Header.Set(\"Authorization\", fmt.Sprintf(\"Bearer %s\", apiKey))\n\\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\\t// リクエストの送信\n\\tclient := &http.Client{}\n\\tres, err := client.Do(req)\n\\tif err != nil {\n\\t\\tlog.Fatal(err)\n\\t}\n\\tdefer res.Body.Close()\n\n}\n\ntype CreatingPaymentRequest struct {\n\\tPayType      string  `json:\"pay_type\"`\n\\tID           *string `json:\"id,omitempty\"`\n\\tJobCode      string  `json:\"job_code\"`\n\\tAmount       *string `json:\"amount,omitempty\"`\n\\tTax          *string `json:\"tax,omitempty\"`\n\\tClientField1 *string `json:\"client_field_1,omitempty\"`\n\\tClientField2 *string `json:\"client_field_2,omitempty\"`\n\\tClientField3 *string `json:\"client_field_3,omitempty\"`\n\\tTdsType      *string `json:\"tds_type,omitempty\"`\n\\tTdTenantName *string `json:\"td_tenant_name,omitempty\"`\n\\tTds2Type     *string `json:\"tds2_type,omitempty\"`\n}\n\nfunc stringPointer(s string) *string {\n\\treturn &s\n}\n"
      - lang: php
        label: PHP
        source: "<?php\n\n$apiKey = '<Secret API Key>';\n\n$baseUrl = \"https://api.test.fincode.jp\";\n$endpoint = \"/v1/payments\";\n$headers = [\n    \"Authorization: Bearer \" . $apiKey,\n    \"Content-Type: application/json\"\n];\n\n$data = json_encode([\n    \"pay_type\" => \"Card\",\n    \"job_code\" => \"CAPTURE\",\n    \"amount\" => \"1000\",\n\n    \"tds_type\" => \"2\",\n    \"td_tenant_name\" => \"My Store\",\n]);\n\n$session = curl_init();\ncurl_setopt($session, CURLOPT_URL, $baseUrl . $endpoint);\ncurl_setopt($session, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($session, CURLOPT_POST, true);\ncurl_setopt($session, CURLOPT_POSTFIELDS, $data);\ncurl_setopt($session, CURLOPT_RETURNTRANSFER, true);\n// curl_setopt($session, CURLOPT_SSL_VERIFYPEER, );\n// curl_setopt($session, CURLOPT_SSL_VERIFYHOST, );\n\n$response = curl_exec($session);\n\nif ($response === false) {\n    # エラー処理\n    echo \"cURL Error: \" . curl_error($session);\n} else {\n    # APIからのデータを処理\n    var_dump($response);\n}\n\ncurl_close($session);\n"
      - lang: python
        label: Python 3
        source: "import requests\n\napi_key = '<Secret API Key>'\n\nurl = f'https://api.test.fincode.jp/v1/payments'\n\n# ヘッダーを設定\nheaders = {\n    'Authorization': f'Bearer {api_key}',\n    'Content-Type': 'application/json'\n}\n\ndata = {\n    \"pay_type\": \"Card\",\n    \"amount\": \"1000\",\n    \"job_code\": \"CAPTURE\",\n    \"tds_type\": \"2\"\n}\n\n# HTTP POSTリクエストの送信\ntry:\n    response = requests.post(url, headers=headers, json=data)\n\n    # レスポンスの処理\n    if response.status_code == 200:\n        # 成功した場合の処理\n        print(f\"Success: {response.json()}\")\n    else:\n        # エラーの処理\n        print(f\"Error: {response.json()}\")\nexcept requests.RequestException as e:\n    # 通信エラーの処理\n    print(f\"Request error: {e}\")\n"
      - lang: ruby
        label: Ruby
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\n\nAPI_KEY = '<Secret API Key>'\nBASE_URL = 'https://api.test.fincode.jp'\n\ndef main\n    endpoint = \"/v1/payments\"\n    uri = URI.parse(BASE_URL + endpoint)\n\n    http = Net::HTTP.new(uri.host, uri.port)\n    http.use_ssl = true\n\n    data = {\n        pay_type: \"Card\",\n        amount: \"1000\",\n        job_code: \"CAPTURE\",\n        tds_type: \"2\",\n    }\n\n    # リクエストの作成\n    request = Net::HTTP::Post.new(uri.request_uri)\n    request['Authorization'] = \"Bearer #{API_KEY}\"\n    request['Content-Type'] = 'application/json'\n\n    request.body = data.to_json\n\n    # リクエストの送信\n    response = http.request(request)\n\n    case response\n    when Net::HTTPSuccess\n        puts 'SUCCESS'\n    else\n        puts 'ERROR'\n    end\n\n    # レスポンスの表示\n    puts response.body\nend\n\nmain\n"
  /v1/payments/{id}:
    put:
      security:
      - Secret-Bearer-Auth: []
      - Public-Bearer-Auth: []
      - Secret-Basic-Auth: []
      operationId: executePayment
      tags:
      - Payment
      summary: 決済 実行
      description: |
        fincodeに登録された決済情報を指定し、請求を実行します。
      parameters:
      - in: header
        name: Tenant-Shop-Id
        required: false
        schema:
          $ref: "#/components/schemas/schema"
        description: "<span class=\"smallText color--red-400\">※ プラットフォームのメインショップのみ指定可</span>\\\nテナントショップID。\\\n指定したテナントショップを販売主とした決済のうち、`id`で指定した決済処理を実行します。\n"
      - name: id
        in: path
        description: オーダーID（決済情報のID）
        schema:
          $ref: "#/components/schemas/OrderId_schema"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/Payment.Card.Executing.Request"
              - $ref: "#/components/schemas/Payment.ApplePay.Executing.Request"
              - $ref: "#/components/schemas/Payment.Konbini.Executing.Request"
              - $ref: "#/components/schemas/Payment.PayPay.Executing.Request"
              - $ref: "#/components/schemas/Payment.DirectDebit.Executing.Request"
        required: true
      responses:
        "200":
          description: リクエストに成功
          content:
            application/json:
[...]
